 body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 100px;
    background: #f5f5f5;
  }
  .container {
    display: flex;
    max-width: 1000px;
    margin: 20px ;
    min-height: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .sidebar {
    width: 30%;
    background: #1f2937;
    color: #fff;
    padding: 20px;
  }
  .sidebar img {
    width: 90%;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sidebar h2 {
    margin: 10px 0 5px;
  }
  .main {
    width: 70%;
    padding: 30px;
  }
  h3 {
    margin-top: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  ul {
    margin: 10px 0;
  }
  .info {
    border-bottom: solid ;
    font-style: oblique ;
    font-family: 'Arial Narrow Bold';
    font-size: large;
  }